body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label {
    margin-top: 1%;
}

.container-fluid {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    border: 2px solid #333300;
    border-radius: 10px;
}

.container-fluid img {
    width: 30%;
    margin-bottom: 1%;
}

#smallCont {
    margin-left: 25%;
    margin-right: 25%;
}

.form-group {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}


.col-md-4 {
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.col-md-4 img{
    display: inline-block;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
}

.row .newUser {
    margin-right: 5%;
    margin-top: 2%;
}

.row .newUser a {
    color: black;
    text-decoration: underline;
}
.btn-primary {
    background-color: #76b852 !important;
    background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2%;
}

.submit{
    background-color: #4c6600 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2%;
    margin-left: 35%;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.doneHere{
    margin-right: 0;
    margin-top: 5%;
}
.done {
    background-color: #4c6600 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5%;
    margin-bottom: 2%;
    margin-left: 35%;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.del {
    background-color: red !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#edit {
    background-color: #52c234 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 10px;
    color: black;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary:active {
    background-color: #4c6600;
}

.btn-primary:hover {
    background-color: #4c6600;
}

.btn-primary:visited {
    background-color: #4c6600;
}
.btn-primary:default {
    background-color: #4c6600;
}
.btn-primary:enabled {
    background-color: #4c6600;
}
.btn-primary:focus {
    background-color: #4c6600;
}

.btn-lg {
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100%;
    background: #3CA55C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3CA55C , #B5AC49); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3CA55C , #B5AC49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 1em;
}
/*//#004FF9*/
.btn-lg:hover{
    background-color: #7DA43E;
    font-weight: bold;
}

.btn-danger {
    background-color: #B00000;
}

.btn-success {
    background-color: #4c6600;
}

.col-md-6 button {
    margin-bottom: 15%;
    margin-top: 15%;
}

.navbar-default .container {
    margin-right: 2% !important;
}

.navbar {
    background-color: black;
    border-bottom: 5px solid #FF9900;
    border-left: black;
    border-top: black;
    border-right: black;
}

.navbar li {
    padding-right: 10px;
}

.navbar a{
    font-size: 1em;
    color: white !important;
}


.navbar .navbar-right li > a:hover{
    font-weight: bolder;
    font-size: 1.2em;
}

.navbar .navbar-default {
    color: white;
}

.navbar {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
}
.dropdown-menu {
    background-color: black;
    color: white;
}
.navbar .navbar-right .dropdown > a:hover,
.navbar .navbar-right .dropdown > a:focus,
.navbar .navbar-right .dropdown > a:active,
.dropdown:hover,
.dropdown:focus,
.dropdown:active,
.dropdown:disabled {
    background-color: black;
    color: #FF9900;
    font-weight: bold;
    font-size: 1.2em;
}

.dropdown-menu > li > a {
  background-color: black;
}
.navbar .navbar-right .dropdown-menu > li > a:hover,
.navbar .navbar-right .dropdown-menu > li > a:focus,
.navbar .navbar-right .dropdown-menu > li > a:active {
  color: #FF9900;
  background-color: black;
  font-size: 1em;
  font-weight: normal;
}
.dropdown-menu .divider {
  height: 2px;
  background-color:#FF9900;
  color: white;
}
.container {
    margin-left: 0;
    width: 100%;
}

.form-horizontal{
    margin-bottom: 2%;
}
/* This messes with the column titles, consider fully removing
 * #table{
    margin-top: 10%;
}*/
.table-responsive {
    margin-top: 5%;
}

#EditData, #EditData1, #EditData2 {
    margin-left: 10% !important;
    margin-right: 10% !important;
}



#search {
    margin-top: 5%;
}

#searchInfo{
    width: 100%;
}
.nav .navbar-nav .navbar-right {
    margin-right: 0;
}

.navbar img {
    width: 35%;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}


#output {
    font-weight: bold;
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#output2 {
    font-weight: bold;
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
}

h3 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 2%;
    margin-bottom: 5%;
    margin-top: 3%;
}

hr {
    border-top: 1px solid #FF9900 !important;
    margin-bottom:5px !important;
    margin-top:5px !important;
}

.filler {
    margin-bottom: 10%;
}





/*
 * Scrollable functionality when search all buttons are pressed in the Admin Site
 *
 */


#table-wrapper {
 position:relative;
}

#table-scroll {
  height:30em;
  overflow:auto;
  margin-top:20px;
}

#table-scroll-docs {
  height:15em;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
/*Lock the top row in place (currently not working)*/
.locked{
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
}



#container-img{
    width = 50px;
    height = 50px;
}
