
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/*this puts it in the center of the page*/
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu {
  width: 44px;
  height: 44px;
}

.item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 44px;
  text-align: center;
  align-content: center;
  align-items: vertical;
  align-items: horizontal;
  vertical-align: middle;
}

i {
  font-size: 40px;
  color: #222222;
  text-align: center;
}
